.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15em;
// background-color: #F0BE00;

  .header {
    position:relative;
    top: -100%;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    width: 50%;
    color: #fff;
    background-color: #F0BE00;
    border-color: #F0BE00; //#5BC4EB;
    // background-color........
  }

  .content {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    .form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
      //  display: flex; // label and input appear on same line without this
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        margin-top: 1em;
        label {
          font-size: 20px;
          float: left;
          width: 240px;
          display: inline-block;
        }
        input {
          /*margin-top: 6px;
          min-width: 10em;*/
          width: 40%;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;
          &:hover {
            //background-color: #ffffff;
            //box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }
    }
  }
  .horizontal-line {
      width: 100%;
      margin: auto;
      margin-top: 5%;
      margin-bottom: 30%;
      // transform: rotate(90deg);
      border-color: #1A85FD;
    }
  .footer {
    margin-top: 18em;
    background-color: #F0BE00; //#5BC4EB;
  }
}
