@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.bigcontainer {
  text-align: center;
  // display: flex;
  position: relative;
  right:-72%;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.bigcontainer-header {
  background-color:#fff; //5BC4EB; //#282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*
.vmpage-link {
  color: #61dafb;
}
*/
.LineGraph {
  // display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%; // 5px;
  position: absolute;
	background-color: black;
  width: 60%;
  height: 30em;
}
// Main Container
.buy {
  width: 17em;
  height: 30em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%; // 5px;
  position: relative;
  z-index: 99;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0BE00;//#5BC4EB;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 75%;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    background-color: #FFD700; //#FFE164; //#3498db;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      right: -40%;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }
    &.left {
      right: 40%;
      align-items: flex-start;
      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
  }
}

//Button
.vmpage-btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #2386c8;
  }
  &:focus {
    outline: none;
  }
}
